[defaults]
inventory = hosts
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles:../../infra/ansible/roles 
callbacks_enabled = profile_tasks, profile_roles, timer

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s